.group {
    border-radius: 15px 15px 0px 0px;
}
 .li-responsive {
     font-size: 16px;
     font-weight: 600;
       
           }

@media (max-width :768px) {
.button-res {
    width: 200px;
    transform: translatex(-30px);
}
.button-2 {
    font-size: 10px ;
    max-width: 200px;
}
.work-transform {
    transform: translateX(-30px);
}
.foued-contact {
    transform: translateX(-30px);
}
}
@media(max-width: 768px) {
    .para-resume {
        transform: translateX(-25px);
    }
    .li-responsive {
        font-size: 10px !important;
        transform: translateX(-20px);
        max-width: 170px;
           }
    .cv-fofo {
        transform: translateX(-20px);
    }
    .link-email {
        transform: translateX(15px);
    }
.icon-git {
    transform: translateX(-2px);
}

    .icon-email {
transform: translateX(5px);
    }
    
}